
.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}
.checkbox-container .checkmark:after {
	left: 0.5rem;
	top: 0.25rem;
	width: 0.25rem;
	height: 0.75rem;
	border: solid var(--color-primary);
	border-width: 0 0.25rem 0.25rem 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/*Collapsible*/
.collapsible {
	cursor: pointer;
	user-select: none;
}
.collapsible:after {
	content: '';
	border: solid white;
	border-width: 0 0.15em 0.15em 0;
	display: inline-block;
	padding: 0.15em;
	transform: rotate(-135deg) translate(-0.2em, 0.2em);
	-webkit-transform: rotate(-135deg) translate(-0.2em, 0.2em);
}
.collapsible.collapsed:after {
	transform: rotate(45deg) translate(0, -0.3em);
	-webkit-transform: rotate(45deg) translate(0, -0.3em);
}
.collapsed + div {
	display: none;
}
/*Videos*/
.video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video iframe, .video object, .video embed, .video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*drop to upload*/
.drop-area {
	border: 2px dashed gray;
	transition: 0.25s;
}
.drop-area.hover {
	border-color: var(--color-selected);
}


/*Animated cards*/
.animated-scene {
	perspective: 100rem;
}
.animated-card-1 {
	animation: animatedcardone 3s ease-in-out 0s alternate infinite;
	-moz-animation: animatedcardone 3s ease-in-out 0s alternate infinite;
	-webkit-animation: animatedcardone 3s ease-in-out 0s alternate infinite;
	-o-animation: animatedcardone 3s ease-in-out 0s alternate infinite;
	transform-style: preserve-3d;
}
.animation-delay-2 {
	animation-delay: 1s !important;
}
.animation-delay-4 {
	animation-delay: 2s !important;
}
@keyframes animatedcardone {
	0%   {transform: rotateY(15deg);}
	100%   {transform: rotateY(-15deg);}
}




/*Home Page only*/
.sample-grid {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr;
}
.sample-grid > img {
	display: block;
	max-width: 375px;
	width: 100%;
	height: auto;
	margin: 1rem auto;
}
@media only screen and (min-width: 750px) {
	.sample-grid {
		grid-template-columns: 375px auto;
	}
	.sample-grid.right {
		grid-template-columns: auto 375px;
	}
}
*Creator related only*/
/*Creator Grid/Canvas/Menu*/
.creator-grid {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	grid-gap: 1rem;
	padding: 1rem 0;
}
.creator-canvas {
	max-width: 750px;
	width: 100vw;
	height: auto;
	/*backdrop-filter: hue-rotate(80deg);*/
}
.creator-menu {
	width: 100%;
}
@media only screen and (min-width: 1250px) {
	.creator-grid {
		grid-template-columns: 750px auto;
		padding: 1rem;
		justify-items: left;
	}
	.creator-menu {
		width: calc(100% - 2rem);
	}
	.creator-canvas {
		border-radius: 37.5px;
	}
}
/*Creator Menu Tabs*/
.creator-menu-tabs {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	grid-gap: 0.5rem;
	margin-bottom: 0.5rem;
}
/*Selectables*/
.selectable {
	text-align: center;
	user-select: none;
	padding: 1rem;
	padding-top: 0.9rem;
	border-top: 0.1rem;
	border-style: solid;
	border-color: #0000;
	transition: 0.5s;
	cursor: pointer;
}
.selectable.selected {
	padding-top: 0.5rem;
	border-top: 0.5rem;
	border-style: solid;
	border-color: var(--color-selected);
	transition: 0.5s !important;
}
.selectable:hover {
	box-shadow: 0 0px 16px black;
	transition: 0.05s;
}
/*Draggables*/
.draggable {
	background: var(--input-background);
	touch-action: none;
}
.dragging {
	box-shadow: 0 0px 16px black;
	background: var(--input-background-selected);
	cursor: move;
}
.frame-list{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 0.25rem;
	user-select: none;
}
/*Frame/Mask-Pickers*/
.frame-picker, .mask-picker {
	display: grid;
	grid-gap: 0.5rem;
	height: 10rem;
	overflow-y: scroll;
	overflow-x: hidden;
	grid-auto-rows: 3.5rem;
}
.frame-picker {
	grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
	justify-items: left;
	align-items: left;
}
.mask-picker {
	grid-template-columns: 1fr;
}
.frame-option, .mask-option {
	cursor: pointer;
	background: var(--input-background);
	width: 100%;
	height: 6rem;
	padding: 0.25rem 0;
	text-align: center;
	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-o-user-select: none;
  	user-select: none;
  	transition: 0.25s;
}
.frame-option.selected, .mask-option.selected {
	background: var(--input-background-selected);
}
.frame-option > img, .mask-option > img {
	width: 80%;
	height: 80%;
	object-fit: contain;
	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-o-user-select: none;
  	user-select: none;
}

.frame-option:hover > img, .mask-option > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	background:#330134;
	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-o-user-select: none;
  	user-select: none;
}
.mask-option {
	display: grid;
	grid-template-columns: 6rem auto;
	text-align: left;
	grid-gap: 0.5rem;
	align-items: center;
	height: 6rem;
}
.mask-option > img {
	max-height: 6rem;
}


/*Frame Elements*/
.frame-element {
	display: grid;
	grid-template-columns: 4rem 2rem 1fr 4rem;
	grid-gap: 0.5rem;
	padding: 0.25rem;
	align-items: center;
	cursor: grab;
}
.frame-element > h4 {
	overflow-x: scroll;
}
.frame-element > img {
	width: 4rem;
	height: 4rem;
	object-fit: contain;
	padding: none;
}
.frame-element:hover {
	box-shadow: 0 0px 16px black;
	transition: 0.05s;
}
.frame-element-close {
	font-size: 2rem;
	cursor: pointer;
	text-align: center;
	padding: 0.5rem 0;
}
.frame-element-editor, .textbox-editor {
	display: none;
	position: fixed;
	max-width: calc(100vw - 6rem);
	width: 64rem; /*multiple of 16?*/
	max-height: calc(100vh - 6rem);
	height: auto;
	overflow-y: scroll;
	-webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
	top: 50%;
	left: 50%;
	background: var(--color-primary);
	border: 0.5rem solid #333;
	border-radius: 1rem;
	box-shadow: 0.5rem 0.5rem 1rem 0.5rem black;
	z-index: 10;
	padding: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	grid-gap: 1rem;
}
.frame-element-editor.opened, .textbox-editor.opened {
	display: grid;
}
.frame-element-editor > .frame-element-editor-title, .textbox-editor > .textbox-editor-title {
	grid-column: 1 / -2;
}
.frame-element-editor > .frame-element-editor-close, .textbox-editor > .textbox-editor-close {
	cursor: pointer;
	width: auto;
	height: auto;
	grid-column: -1 span 1;
	user-select: none;
	justify-self: right;
}

.hidden {
	display: none;
}
.fake-hidden {
	opacity: 0;
	position: absolute;
	top: -100%;
	left: -100%;
}



/*Tutorial Page only*/
.tutorial-grid {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr;
}
.tutorial-grid > img {
	display: block;
	width: 100%;
	height: auto;
	margin: 1rem auto;
}
.readable-background > .tutorial-grid > img {
	border: 0.1rem solid gray;
}
@media only screen and (min-width: 750px) {
	.tutorial-grid {
		grid-template-columns: 1fr 1fr;
	}
}



/